#top_div {
	text-align: center;
	font-family: 'Joti One', cursive;
}
#train {
	height: 200px;
	width: 400px;
}
body {
	background: grey;
}
.form-group {
	width: 60%;
	margin: auto;
	font-weight: bold;
	padding-bottom: 5px;
}
#submit_button {
	margin: 0 auto;
	margin-top: 30px;
	background: black;
	color: white;
}
#output_div {
	width: 60%;
	margin: auto;
	background: white;
}
.card-header {
	background: #B22222;
	color: white;
	font-size: larger;
	text-align: center;
}
.form-group {
	text-align: center;
	margin-top: 5px;
}
.row {
	margin-bottom: 5px;
}
#submit {
	text-align: center;
}